<div class="card">
    <h5 class="card-title m-2" id="formularioTitulo">Formulario 1.- EMPRESA PCS ARTESANAL CERCO TIERRA</h5>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-title m-2">Barco: 940266 - CONSTITUCION</h5>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <h5 class="card-title m-2">
                Fecha Hora Recalada:
                <a data-toggle="collapse" href="#collapseDatosBitacora" aria-expanded="false" aria-controls="contentId"> 18-05-2018 10:00 </a>
            </h5>
        </div>
    </div>
</div>

<div class="collapse" id="collapseDatosBitacora">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-sm">
                <tbody>
                    <tr>
                        <td><b>Embarcacion</b></td>
                        <td>940266</td>
                    </tr>
                    <tr>
                        <td><b>Fecha Hora Recalada</b></td>
                        <td>18-05-2018 10:00:00</td>
                    </tr>
                    <tr>
                        <td><b>Fecha Hora Zarpe</b></td>
                        <td>18-05-2018 02:00:00</td>
                    </tr>
                    <tr>
                        <td><b>Puerto Zarpe</b></td>
                        <td>40 - Valdivia</td>
                    </tr>
                    <tr>
                        <td><b>Puerto Recalada</b></td>
                        <td>40 - Valdivia</td>
                    </tr>
                    <tr>
                        <td><b>Planta de Proceso</b></td>
                        <td>40558</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- tabla Lances -->
<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title">Lances</h5>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-toggle="tooltip" data-placement="top" title="Ver en mapa" onclick="mostrarMapa()">
                <i class="fas fa-map-marker-alt"></i>
            </button>

            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-sm my-5" id="tablaLances">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha Lance</th>
                        <th>Especie Objetivo</th>
                        <!-- <th>Fecha Extraccion</th> -->
                        <!-- <th>Latitud</th> -->
                        <!-- <th>Longitud</th> -->
                        <!-- <th>Mapa</th> -->
                        <th>Bitácora</th>
                        <th>Muestreo</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- cardBitacoraCaptura1-->
<div class="card card-primary card-outline" id="cardBitacoraCaptura1" style="display: none">
    <div class="card-header">
        <h5 class="card-title">Bitácora</h5>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover my-3">
                <thead>
                    <tr>
                        <th>Especie</th>
                        <th>Codigo Especie</th>
                        <th>Peso</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- cardMuestreoLongitud1 -->
<div class="card card-primary card-outline" id="cardMuestreoLongitud1" style="display: none">
    <div class="card-header">
        <h5 class="card-title">Bitácora</h5>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover my-3">
                <thead>
                    <tr>
                        <th>Especie</th>
                        <th>Longitud</th>
                        <th>Sexo</th>
                        <th>E_1</th>
                        <th>E_2</th>
                        <th>E_3</th>
                        <th>E_4</th>
                        <th>E_5</th>
                        <th>N_INDIVIDUOS</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--cardMuestreoProporcion1-->
<div class="card card-primary card-outline" id="cardMuestreoProporcion1" style="display: none">
    <div class="card-header">
        <h5 class="card-title">Bitácora</h5>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover my-3">
                <thead>
                    <tr>
                        <th>Especie</th>
                        <th>Codigo Especie</th>
                        <th>ESTADO_ESPECIMEN</th>
                        <th>FRECUENCIA</th>
                        <th>PESO</th>
                        <th>EJEM_POR_LITRO</th>
                        <th>PESO_POR_LITRO</th>
                        <th>NRO_CAJA</th>
                        <th>ORIGEN_MUESTRA</th>
                        <th>LUGAR_MUESTREO_PE</th>
                        <th>PESO_TOTAL_MUESTRA_PE</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--cardMuestreoBiologico1-->
<div class="card card-primary card-outline" id="cardMuestreoBiologico1" style="display: none">
    <div class="card-header">
        <h5 class="card-title">Bitácora</h5>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover my-3">
                <thead>
                    <tr>
                        <th>Especie</th>
                        <th>N_ESPECIMEN</th>
                        <th>LONGITUD_ESPECIMEN</th>
                        <th>PESO_ESPECIMEN</th>
                        <th>SEXO_ESPECIMEN</th>
                        <th>MADUREZ</th>
                        <th>PESO_EVISCERADO</th>
                        <th>PESO_GONADAS</th>
                        <th>PESO_ESTOMAGO</th>
                        <th>MUESTRA_GONADA</th>
                        <th>MUESTRA_ESTOMAGO</th>
                        <th>MUESTRA_OTOLITOS</th>
                        <th>NUMERO_OTOLITOS</th>
                        <th>ESTADO_ESTOMAGO</th>
                        <th>REPLECION</th>
                        <th>CODIGO_ESPECIE</th>
                        <th>ORIGEN_MUESTRA</th>
                        <th>LUGAR_MUESTREO_BIO</th>
                        <th>TIPO_MUESTRA_BIO</th>
                        <th>TIPO_LONGITUD_BIO</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
